<tr>
  <td><%= publisher.name %></td>
  <td><%= publisher.theme %></td>
  <td><%= link_to "Advertisers", publisher_advertisers_path(publisher) %></td>
  <td><%= link_to "Edit", edit_publisher_path(publisher) %></td>
</tr>
